<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  

				  <form action="{% url 'account_login' %}" class="navbar-form" method="post">
                  {% csrf_token %}
                  <input class="form-control" type="text" placeholder="Username or e-mail" name="login">
                  <input class="form-control" type="password" placeholder="Password" name="password">
                  {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                  <button type="submit" class="btn btn-primary btn-block">Login</button><br>
          </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
		</div>
</div>
