
<div id="header" >
	<div>
	<!--<a href="index-apfyt.html" class="logo"><img src="images/logo-top.png" height=60 alt=""></a>
	<ul id="navigation"> -->
	<ul id="navigation">
		
		<li>
			<a href="contact-apfyt.html">Contact</a>
		</li>
		<li>
			<a href="about-apfyt.html">About</a>
		</li>
		<li class="selected">
			<a href="index-apfyt.html">| Home |</a>
		</li>
	</ul>
	</div>
	</div>
	<div id="login-createAccount">
	<div>
	<ul>
		<li class="login" id="login"> 

			<a href="login-apfyt.html">Log in</a>
			</li>
			<li class="signup">
			<a href="signup-apfyt.html">Sign up</a>
			</li>
	</ul>

	</div>
</div>