<div class="question" ng-hide="edit" ng-click="edit=true">
	<h4>{{ question }}</h4>
	<span class="description">{{ question.question }}</span>
</div>

<div class="card" ng-show="edit" 
	ng-model-options="modelOptions">
	<div class="flex">
		<label><strong>Title:&nbsp;</strong></label>
		<input type="text" 
			ng-model="question.question" 
			ng-change="update()">
	</div>
	<textarea class="flex" ng-model="card.description" 
			placeholder="Enter description" 
			ng-change="update()"></textarea>

	<button ng-click="edit=flase">Close</button>
	<button ng-click="delete()">Delete Card</button>
</div>